* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
  height: 40vh;
  /* background-color: blueviolet; */
  padding: 10px;
}
.header-h2 {
  display: flex;
  justify-content: space-between;
}
.h2-right {
  display: flex;
  justify-content: space-between;
  width: 28%;
}
.h2-left a {
  text-decoration: none;
  color: #00d0f5;
  font-size: 20px;
}
